body::before {
    display: block;
    content: '';
    height: 60px;
}

@media(min-width:768px) {
    .news-input {
        width: 50%;
    }
}

@media(min-width:768px) {
    .gmap_canvas {
        width: 200px;
    }
}